
{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Pokemon-tietokantaan! Lol!</h1>
  </div>
<p>
    <a href="/pokeka/esittelysivu" class="btn btn-primary btn-lg">Esittelysivu <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<p>
    <a href="/pokeka/listaussivut" class="btn btn-primary btn-lg">Listaussivut <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<p>
    <a href="/pokeka/muokkaussivu" class="btn btn-primary btn-lg">Muokkaussivut <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Tutustu materiaaliin <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  
{% endblock %}
